In [1]:
# create a blank list
A = []
print(A)

[]

In [2]:
# add numeric elements (one at a time) in the blank list "A" created above
A.append(1)
print(A)
A.append(2)
print(A)

[1]
[1, 2]

In [3]:
# adding mutiple elements to the list in one command
A.extend([3,4,5])
print(A)
A.extend((6,7,8,9))
print(A)
A.extend(range(10,15))
print(A)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
### inserting elements at specific index
A.insert(1,100)
print(A)
A.insert(3,200)
print(A)

[1, 100, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 100, 2, 200, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [5]:
# create list with elements
B = [1,2,3,'dog','cheetah',25]
print(B)

[1, 2, 3, 'dog', 'cheetah', 25]

In [6]:
# accessing list elements
B

[1, 2, 3, 'dog', 'cheetah', 25]

In [7]:
# access elements at specific index
print(B[4])

cheetah

In [8]:
# accessing list elements using negative indexing
print(B[-1]) # last element B[5]
print(B[-2]) # same as B[4]
print(B[-6]) # same as B[0]

25
cheetah
1

In [9]:
# slicing of list - lst[start:end:step]
L = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
L[0:12:3]

[0, 3, 6, 9]

In [10]:
# removing specific element from a list - list.remove(element)
List1 = ['a','apple',24,50,'tiger',10]
List1.remove(50)
List1

['a', 'apple', 24, 'tiger', 10]

In [11]:
# removing an item at a specific index from a list - list.pop(index)
List1.pop(3)

'tiger'

In [12]:
List1

['a', 'apple', 24, 10]

In [13]:
# what if you do not specify index in pop() function? 
# By default it will remove the last item from the list

List1.pop()

10

In [14]:
List1

['a', 'apple', 24]

In [15]:
# list comprehension 
# new_list = [expression for element in existing_list if condition]

List2 = [11,12,24,25,22,43,10,45,58,67]
NewList2 = [i+100 for i in List2 if i>25]
NewList2

[143, 145, 158, 167]