In [1]:
# empty tuple
T = tuple()
print(T)

()

In [2]:
## two ways to initialize a tuple: with or without parenthesis
T1 = 'apple','samsung'
T2 = ('lenovo','hp')
print(T1, T2)

('apple', 'samsung') ('lenovo', 'hp')

In [3]:
# concatenate tuple T1 and T2
print(T1+T2)

('apple', 'samsung', 'lenovo', 'hp')

In [4]:
# nested tuple, this is different from concatenation
T3 = (T1,T2)
print(T3)

(('apple', 'samsung'), ('lenovo', 'hp'))

In [5]:
# we can repeat one element in tuple by simply multiplying as element*n where n=number of repetition
T4 = ('dell',)*4
print(T4)

('dell', 'dell', 'dell', 'dell')

In [6]:
# Indexing 
T5 = (0,1,2,3,4,5)
print(T5[3])

3

In [7]:
# Slicing [lower bound included, upper bound not included] 
# negative indexing also works on tuples
print(T5[1:4])
print(T5[:-1])
print(T5[-6:-2])

(1, 2, 3)
(0, 1, 2, 3, 4)
(0, 1, 2, 3)

In [8]:
# Immutable property of tuples - - - 'tuple' object does not support item assignment

# if you try to mutate a tuple, it will give error.

T5[2] = 20

TypeError: 'tuple' object does not support item assignment

In [9]:
# length of a tuple
print(len(T5))

6

### convert a list to a tuple

In [10]:
L = [1,2,3,4] # list
print(L)
T = tuple(L) # convert to tuple using tuple() function
print(T)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [11]:
## Similarly we can also convert a tuple to a list using list() function
tup = (12,14,16,18,20)
lst = list(tup)
print(tup, lst)

(12, 14, 16, 18, 20) [12, 14, 16, 18, 20]