#### Reference: 
#### https://www.linkedin.com/posts/khuyen-tran-1401_methods-to-work-with-datetime-in-pandas-activity-6903352397612032000-lGSU

### parse_dates in pd.read_csv 
### directly convert datetime columns from string to datetime while reading the csv file

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
pd.read_csv('Data_DateTimePandas.csv').info()  ## without parse_dates the data type of columns will be considered as object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Start_Date  10 non-null     object
 1   End_Date    10 non-null     object
 2   Frequency   10 non-null     int64
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

In [3]:
df = pd.read_csv('Data_DateTimePandas.csv', parse_dates=['Start_Date','End_Date'])

In [4]:
df.info()  ## Using parse dates will directly convert these columns from string to datetime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Start_Date  10 non-null     datetime64[ns]
 1   End_Date    10 non-null     datetime64[ns]
 2   Frequency   10 non-null     int64
dtypes: datetime64[ns](2), int64(1)
memory usage: 368.0 bytes

### pd.Series.dt 
### access datetime properties of pandas Series

In [5]:
df['Start_Date'].dt.year # RETURNS YEAR

0    2019
1    2019
2    2020
3    2020
4    2021
5    2021
6    2022
7    2022
8    2022
9    2022
Name: Start_Date, dtype: int64

In [6]:
df['Start_Date'].dt.isocalendar().week   # RETURNS WEEK OF YEAR

0     7
1     8
2    11
3    25
4     5
5     6
6     5
7     6
8     7
9     8
Name: week, dtype: UInt32

In [12]:
df['Start_Date'].dt.time # RETURNS TIME

0    10:30:00
1    10:30:00
2    10:30:00
3    10:30:00
4    10:30:00
5    10:30:00
6    10:30:00
7    10:30:00
8    10:30:00
9    10:30:00
Name: Start_Date, dtype: object

### get rows from the DataFrame within a specific year range!
#### DataFrame.loc to the rescue

It is important to note that for using this method, we have to set date column as index!!

In [8]:
df1 = df.set_index("Start_Date")
df1

                               End_Date  Frequency
Start_Date
2019-02-15 10:30:00 2019-02-19 23:59:00         52
2019-02-22 10:30:00 2019-02-26 23:59:00         78
2020-03-15 10:30:00 2020-03-20 23:59:00         43
2020-06-20 10:30:00 2020-07-31 23:59:00         41
2021-02-01 10:30:00 2021-02-05 23:59:00         36
2021-02-08 10:30:00 2021-02-12 23:59:00         69
2022-02-01 10:30:00 2022-02-05 23:59:00         44
2022-02-08 10:30:00 2022-02-12 23:59:00         77
2022-02-15 10:30:00 2022-02-19 23:59:00         75
2022-02-22 10:30:00 2022-02-26 23:59:00         36

In [9]:
df1.loc["2021":]

                               End_Date  Frequency
Start_Date
2021-02-01 10:30:00 2021-02-05 23:59:00         36
2021-02-08 10:30:00 2021-02-12 23:59:00         69
2022-02-01 10:30:00 2022-02-05 23:59:00         44
2022-02-08 10:30:00 2022-02-12 23:59:00         77
2022-02-15 10:30:00 2022-02-19 23:59:00         75
2022-02-22 10:30:00 2022-02-26 23:59:00         36

### Moving average - DataFrame Rolling
### Find average of last n data points

## df.rolling(time_period).mean()

In [10]:
df1.rolling(4).mean()

                     Frequency
Start_Date
2019-02-15 10:30:00        NaN
2019-02-22 10:30:00        NaN
2020-03-15 10:30:00        NaN
2020-06-20 10:30:00      53.50
2021-02-01 10:30:00      49.50
2021-02-08 10:30:00      47.25
2022-02-01 10:30:00      47.50
2022-02-08 10:30:00      56.50
2022-02-15 10:30:00      66.25
2022-02-22 10:30:00      58.00